/* _colors.scss */

//*============DEFINE COLORS============*/
	$text: #545252; //gray
	$red: rgb(180,35,39); //#B42327
	$redhash: #B42327;
	$green: rgb(126,189,55); //#7EBD37;
	$greenhash: #7EBD37;

//*============END DEFINE COLORS============*/