/*_content*/

//*============CONTENT============*/
#content {
	//background-color: orange;
	@include grid-unit(9, $gutter-width, $gutter-width);
	float: right;
	padding-top: 10px;
	span {
		color: $green;
	}
	h2 {
		font-size: 1.5em;
		padding-bottom: 5px;
		margin-bottom: 5px;
		border-bottom: 1px solid lighten(gray, 40%);
	}
	img.recipe {
		display: block;
		width: 400px;
		margin: 10px auto 20px auto;
		@include round;
		@include boxshadow;
	}
	table {
		margin-bottom: 20px;
		tr {
			td {
				padding: 5px;
				&:first-child {
					text-align: right;
				}
			}
		}
	}
	div.aside {
		margin: 30px auto;
		border: 1px solid lighten(gray, 40%);
		padding: 10px;
		@include round;
		p {
			color: lighten($text, 20%);
			font-size: 90%;
			margin-bottom: 0px;
		}
	}
	div.index_aside {
		width: 90%;
	}
	//Index page category list
	ul.index {
		//border: 1px solid $text;
		@include round;
		@include boxshadow;
		margin: 30px;
		padding: 10px;
		li.category {
			font-size: 1.4em;
			padding: 5px;
		}
		li.recipe {
			margin-left: 10px;
			a {
				font-size: 1.2em;
			}
			span {
				color: $green;
			}
		}
	}
	//Search page results
	div#search {
		font-size: 120%;
		width: 90%;
		margin: 30px auto;
		@include round;
		@include boxshadow;
		padding: 10px;
		h2 {
			margin-top: 20px;
			font-size: 130%;
		}
		h3 {
			line-height: 150%;
			span {
				color: $green;
			}
		}
		ul {
			margin-left: 20px;
			li {
				&.recipe {
					font-size: 110%;
				}
				ul {
					font-size: 80%;
				}
				line-height: 150%;
				span {
					color: $green;
				}
			}
		}
	}
}
//*============END CONTENT============*/