/*_footer*/

//*============FOOTER============*/
#footer {
	//background-color: lighten(red, 20%);
	border-top: 1px solid $text;
	padding:10px;
	clear:both;
	ul {
		text-align: center;
	}
	li {
		display:inline;
	}
	a, a:visited {
		&:hover, &:focus, &:active { 
		}
	}
}
//*============END FOOTER============*/